<!DOCTYPE html>
<html>
    <head>
        <title>2360302</title>
        <style>
            div {
                width: 100px;
                height:100px;
                background:red;
                transition-property: width,height;
                transition-duration: 20s;
                transition-timing-function: ease;
                transition-delay: 2s;

            }
            div:hover{
                width:300px;
                height:300px;
            }
        </style>
    </head>
</html>